.grid_6.alpha
  %h2 People
  - @people.each do |person|
    %a{:title => person[1][:name], :href => "/people/#{person[1][:path]}"}= person[1][:name]
.grid_6.omega
  %h2 Projects
  - @projects.each do |project|
    %a{:title => project[1][:name], :href => "/projects/#{project[1][:path]}"}= project[1][:name]