---
title: Contact
path: contact.html
---
%ul
  %li
    Mailing list:
    %a{:href => "http://lists.charlestonruby.org/mailman/listinfo/discuss"} http://lists.charlestonruby.org/mailman/listinfo/discuss
  %li
    Chat: #chsruby at conference.butterfat.net (no password necessary) (
    %a{:href => "http://www.csclug.org/?q=node/34"} instructions
    \/csclug/chsruby/) or
    %a{:href => "http://speeqe.com/room/chsruby@conference.butterfat.net/"} here
  %li
    %a{:href => "http://www.facebook.com/group.php?gid=265020795217"} Facebook
  %li
    %a{:href => "http://twitter.com/chsruby"} Twitter
  %li
    %a{:href => "http://identi.ca/chsruby"} Identi.ca